html {
	box-sizing: border-box;
	height:100vh;
	width:100vw;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
}

body {
	background-image:url('art/parchment.png');
	background-size:cover;
	height:100%;
	width:100%;
}

table {
	position:relative;
	width:75vmin;
	height:75vmin;
	top:15vmin;
	left:15vmin;
	border-spacing:0;
	background-color:transparent;
	border-collapse:collapse;
}

td {
	position:relative;
}

p {
	position:relative;
	background-color:green;
	width: 50%;
	height: 50%;
	left:25%;
	z-index:999;
}

